.sub-button{

  background-color: blue;
  color: white;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 80px;
  
  }
  .sub-button:hover{
  
  background-color:  rgb(42, 42, 155);
  ;
  
  }
  .sub-button:active{
      background-color:  #df3434;
      ;
  }
  
  .reset-button{
  
  background-color: blue;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;;
  
  
  }
  .reset-button:hover{
    background-color: rgb(55, 55, 201);
  
  }
  .reset-button:active{
  
    background-color: #df3434;
  
  
  }
  .homepage{
  
      background-color: yellow;
  }
  .form{
  
  margin-right: 50%;
  }
  .headname{
   
      color:rgb(235, 15, 15);
  font: italic;
  
  }
  .h2name{
  
  color: rgb(27, 27, 145);
  
  
  
  }