.homepage {
    background-color: skyblue;
    color: black;

}

.headname {
    color: red;
    font-style: italic;
    font-weight: bold;
    
    font-size: 30px;

}

.h2name {
    color: darkred;
    font-style: italic;
    font-weight: bold;


}

.sub-button {
    background-color: blue;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    margin-right: 60px;
    color: white;
    cursor: pointer;
}

.sub-button:hover {
    background-color: rgb(5, 5, 99);



}

.reset-button {
    background-color: blue;
    height: 35px;
    width: 75px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.sub-button:active {
    background-color: rgb(190, 43, 43);
}

.reset-button:hover {
    background-color: rgb(5, 5, 99);
}

.reset-button:active {
    background-color: rgb(190, 43, 43);
}

.help-button {
    margin-left: 1000px;
    background-color: white;
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.sub-button {
    background-color: blue;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    margin-right: 60px;
    color: white;
    cursor: pointer;
}

.half-size{
    width: 49%;
    display: inline-grid;
    color: red;
}

.tbl{
 border: black;
 tab-size: 49%;
 border-block-color: black;
 font-size: larger;
font-style: italic;
font:bold;

}


.table{

font-size: large;
color: blue;
background-color: red;

}


